### numpy 모듈
- random 모듈을 이용한 난수 발생
- random.randint(시작값, 종료값): 시작~종료값 범위에 있는 정수를 임으로 발생

In [47]:
import numpy as np

np.random.randint(10, 21)

18

#### 0~50 사이의 숫자를 무작위로 생성
- 10개의 데이터 생성
- 생성된 숫자는 리스트형 데이터로 저장
- for문 이용

In [48]:
import numpy as np

rd_lst=[]

for i in range(10):
    rd_lst.append(np.random.randint(0, 51))

print(rd_lst)

[11, 26, 41, 47, 29, 6, 32, 34, 15, 43]

In [54]:
rd_lst=[np.random.randint(0, 51) for i in range(10)]

print(rd_lst)

[50, 28, 10, 39, 32, 33, 46, 49, 20, 18]

- words 데이터에서 글자수가 4개 이상인 데이터를 찾아 new_words 에 리스트로 저장

In [50]:
words = ["멀티캠퍼스","티스토리", "블로그", "파이썬", "for", "프로그래밍", "반복"]

new_words=[]

for word in words:
    if len(word) > 3:
        new_words.append(word)
        
print(new_words)

['멀티캠퍼스', '티스토리', '프로그래밍']

In [51]:
new_words=[word for word in words if len(word) > 3]

print(new_words)

['멀티캠퍼스', '티스토리', '프로그래밍']

In [61]:
words = [[ "이중 for문", "파이썬", "프로그래밍", "스터디" ], 
         [ "Python", "NLP", "ML", "DL" ], 
         [ "leetCode", "BaekJoon", "HackerRank" ],
         [ "멀티캠퍼스", "COMPAS", "DACON", "Kaggle" ] ]

# words가 가지고 있는 단어 출력
for word_lst in words:
    print(word_lst)
    for word in word_lst:
        print(word)

['이중 for문', '파이썬', '프로그래밍', '스터디']
이중 for문
파이썬
프로그래밍
스터디
['Python', 'NLP', 'ML', 'DL']
Python
NLP
ML
DL
['leetCode', 'BaekJoon', 'HackerRank']
leetCode
BaekJoon
HackerRank
['멀티캠퍼스', 'COMPAS', 'DACON', 'Kaggle']
멀티캠퍼스
COMPAS
DACON
Kaggle

In [62]:
words = [[ "이중 for문", "파이썬", "프로그래밍", "스터디" ], 
         [ "Python", "NLP", "ML", "DL" ], 
         [ "leetCode", "BaekJoon", "HackerRank" ],
         [ "멀티캠퍼스", "COMPAS", "DACON", "Kaggle" ]]

# words가 가지고 있는 단어의 길이가 4 이상인 데이터만 new_words에 리스트로 추가
new_words=[]

for word_lst in words:
    for word in word_lst:
        if len(word)>=4:
            new_words.append(word)
            
print(new_words)

['이중 for문', '프로그래밍', 'Python', 'leetCode', 'BaekJoon', 'HackerRank', '멀티캠퍼스', 'COMPAS', 'DACON', 'Kaggle']

In [63]:
new_words=[word for word_lst in words for word in word_lst if len(word)>=4]

print(new_words)

['이중 for문', '프로그래밍', 'Python', 'leetCode', 'BaekJoon', 'HackerRank', '멀티캠퍼스', 'COMPAS', 'DACON', 'Kaggle']

### random 모듈을 이용한 리스트 값 발생
- 기준: 0 ~ 50 사이의 난수 발생
- 1세트당 인수가(값) 10 ~ 20 사이의 값을 갖는다.
- 전체 세트: 5세트 생성
- 예) [[0, 24, 3, ...], [44, 14, 8, ...],[0, 3, 12, ...],[49, 24, 13, ...],[0, 24, 3, ...]]

In [64]:
import numpy as np

In [67]:
print(np.random.randint(51))  # 0~50 사이의 정수형 1개 발생
print(np.random.randint(25, 51)) # 25~50 사이의 난수 발생
print(np.random.randint(0, 51, 10))      # 0~50 사이의 난수를 10개 발생
print(np.random.randint(0, 51, size=10))
print(np.random.randint(51, size=10))

22
47
[36 31 19 35 17 30 16 21  1  2]
[22 42 50 18 41 27 47 13 21 33]

### 요구사항: 리스트 개체를 생성하는 코드를 작성해주세요
- 리스트 개체는 총 5개의 리스트 요소를 가지고 있고 각 리스트 요소마다 10에서 20개 사의 값을 가지고 있습니다.
-이 값은 0 ~ 50 사이의 임의의 값으로 만들어져 있습니다.
-[[0, 24, 3, ..20], [44, 14, 8, ..10], [0, 3, 12, ..13], [49, 24, 13, ..15], [0, 24, 3, ..17]]
#### 문제 해결 알고리즘
- 10~20 size 발생: random.randint(10, 21) ==> size
- 0~50 사이값 발생: random.randint(0, 51, size=10-20)
- 리스트 인수 5개 생성: for i range(5)

In [ ]:
[[24, 30, 37, 43, 24, 8, 30, 50, 9, 6],
 [16, 48, 41, 28, 44, 20, 8, 34, 44, 50, 50, 48, 50, 34, 48, 43, 34, 39, 46],
 [50, 49, 40, 17, 29, 26, 34, 35, 26, 2, 18],
 [15, 22, 3, 8, 36, 36, 34, 25, 32, 17, 45, 3, 11, 2, 37, 39],
 [31, 44, 0, 41, 6, 4, 43, 43, 7, 44, 19, 43]]

In [72]:
import numpy as np

rd_lst=[]
for i in range(5) :
    size_n=np.random.randint(10,21)
    rd_lst.append(list(np.random.randint(51,size=size_n)))
    
rd_lst

[[34, 0, 22, 34, 19, 28, 38, 12, 49, 2],
 [9, 6, 8, 23, 3, 31, 10, 2, 42, 10, 11, 40, 10],
 [17, 50, 7, 49, 2, 36, 46, 5, 27, 13, 44, 16, 47, 10, 7, 18],
 [12, 42, 1, 1, 41, 39, 13, 43, 26, 2, 10, 43],
 [30, 22, 10, 6, 36, 45, 47, 46, 5, 32, 4, 31]]

In [73]:
import numpy as np

rd_lst=[]
for i in range(5) :
    rd_lst.append(list(np.random.randint(51,size=np.random.randint(10,21))))
    
rd_lst

[[2, 24, 34, 10, 25, 9, 44, 33, 34, 9, 6, 27, 14],
 [36, 6, 26, 13, 20, 25, 8, 30, 25, 19, 26, 43, 13, 35, 26, 28],
 [44, 14, 44, 20, 47, 23, 43, 2, 12, 38, 11, 12, 33],
 [14, 22, 39, 19, 18, 39, 15, 24, 18, 5, 19, 39, 13, 20, 7, 3, 4, 30],
 [39, 24, 16, 21, 40, 35, 34, 44, 43, 28, 12, 0, 24]]

In [74]:
rd_lst=[list(np.random.randint(51,size=np.random.randint(10,21))) for i in range(5)]
rd_lst

[[34, 23, 20, 43, 1, 5, 2, 14, 18, 24, 40, 18, 38, 4, 3, 22, 43, 6, 36, 13],
 [34, 5, 5, 14, 27, 30, 50, 16, 29, 27, 50, 27],
 [33, 7, 12, 25, 31, 37, 20, 25, 34, 39, 39, 8, 21, 0, 2],
 [26, 44, 45, 19, 4, 36, 16, 36, 22, 9, 29],
 [35, 10, 18, 47, 34, 35, 24, 39, 11, 6, 4, 7, 16, 6, 36, 46, 42, 41]]

### [요구사항] 입력된 숫자 데이터에서 최대값/최소값/합계 계산
- 1. data에 입력된 값을 기준으로 계산
- 2. 위에서 생성된 rd_lst 데이터를 이용해 계산

#### 제한조건
- sum(), max(), min() 함수 사용 금지

In [75]:
data=[34, 23, 20, 43, 1, 5, 2, 14, 18, 24, 40, 18, 38, 4, 3, 22, 43, 6, 36, 13]

tmpMax=data[0]
tmpMin=data[0]
tmpSum=0

for dt in data:
    # 최대값
    if dt > tmpMax:
        tmpMax=dt
    
    # 최소값
    if dt < tmpMin:
        tmpMin=dt
        
    # 합계
    tmpSum += dt
    
print(f'최대값:{tmpMax}, 최소값:{tmpMin}, 합계:{tmpSum}')

최대값:43, 최소값:1, 합계:407

In [81]:
rd_lst=[list(np.random.randint(51,size=np.random.randint(10,21))) for i in range(5)]
rd_lst

[[12, 32, 14, 45, 28, 43, 29, 13, 50, 9, 43, 28],
 [37, 24, 14, 6, 30, 30, 13, 13, 48, 48, 16, 39],
 [23, 45, 36, 26, 5, 20, 0, 28, 8, 25, 37, 29, 28, 37, 11, 19, 13, 50, 29],
 [49, 23, 20, 47, 15, 14, 31, 10, 39, 9, 4, 40, 48, 48, 37],
 [5, 34, 42, 37, 1, 9, 26, 13, 37, 6, 19, 29, 11, 30, 13]]

In [84]:
tmpMax=rd_lst[0][0]
tmpMin=rd_lst[0][0]
tmpSum=0

for dt_lst in rd_lst:
    for dt in dt_lst:
        # 최대값
        if dt > tmpMax:
            tmpMax=dt

        # 최소값
        if dt < tmpMin:
            tmpMin=dt

        # 합계
        tmpSum += dt

print(f'최대값:{tmpMax}, 최소값:{tmpMin}, 합계:{tmpSum}')

최대값:50, 최소값:0, 합계:1879

In [85]:
tmp_lst=[0, rd_lst[0][0], rd_lst[0][0]]

for dt_lst in rd_lst:
    for dt in dt_lst:
        # 최대값
        if dt > tmp_lst[1]:
            tmp_lst[1]=dt

        # 최소값
        if dt < tmp_lst[2]:
            tmp_lst[2]=dt

        # 합계
        tmp_lst[0] += dt

print(f'최대값:{tmp_lst[1]}, 최소값:{tmp_lst[2]}, 합계:{tmp_lst[0]}')

최대값:50, 최소값:0, 합계:1879

### 각 그룹별 계산
- 그룹단위 최대값/최소값/합계
- 전체 최대값/최소값/합계

In [86]:
rd_lst=[list(np.random.randint(51,size=np.random.randint(10,21))) for i in range(5)]
rd_lst

[[3, 22, 43, 6, 39, 27, 45, 49, 36, 13, 26, 17, 49],
 [47, 37, 26, 6, 8, 45, 22, 14, 5, 23, 5, 6],
 [48, 8, 2, 25, 33, 30, 24, 39, 28, 14, 2, 42, 29, 38, 11],
 [22, 2, 49, 13, 42, 39, 16, 17, 36, 26, 4, 4, 41, 37, 13],
 [48, 0, 8, 24, 47, 43, 3, 2, 40, 28, 37]]

In [88]:
T_lst=[0, rd_lst[0][0], rd_lst[0][0]]  # 전체 값 계산 리스트 변수
G_lst=[]   # 그룹별 최대값/최소값/합계를 저장할 리스트(출력)

for lst in rd_lst:
    tmp_lst=[0, lst[0], lst[0]]  # 그룹별 계산 리스트 변수/초기화
    
    for dt in lst:
        if dt > tmp_lst[1]:  # 그룹내에서 최대값 찾기
            tmp_lst[1]=dt
            
        if dt < tmp_lst[2]:  # 그룹내에서 최소값 찾기
            tmp_lst[2]=dt
            
        tmp_lst[0]=tmp_lst[0]+dt  # 그룹별 합계 계산  / tmp_lst[0] += dt
        
    G_lst.append(tmp_lst)    # 그룹별 계산 결과 리트스에 추가
    
    # 전체 데이터 누적합계 및 최대값/최소값 찾기
    T_lst[0] = T_lst[0]+tmp_lst[0]  # 전체 누적 합계
    
    if tmp_lst[1] > T_lst[1]:   # 전체 최대값 찾기
        T_lst[1]=tmp_lst[1]
        
    if tmp_lst[2] < T_lst[2]:   # 전체 최소값 찾기
        T_lst[2]=tmp_lst[2]
        
print('그룹별\n', G_lst, "\n")
print('전체데이터:', T_lst)

그룹별
 [[375, 49, 3], [244, 47, 5], [373, 48, 2], [361, 49, 2], [280, 48, 0]]

전체데이터: [1633, 49, 0]